@inherits LayoutComponentBase
<main>
    
    <div class="top-row px-4"> @*Top Bar*@
        <a href="#benefits">Benefits</a>
        <a href="#about-usa">About USA</a>
        <a href="#studies">Studies and Opportunities</a>
        <a href="#colleges">Colleges</a>
        <a href="">Home</a>
        <a href="about-us">About Us</a>
        <a href="contact-us">Contact Us</a>
    </div>

    <article class="content px-4">
        @Body
    </article>

</main>
