@inherits LayoutComponentBase
<main style="padding-top: 50px; background-color: lightblue">

    <nav class="top-row d-flex justify-content-between align-items-center">
        
        @* Nav Bar Icon Left Side *@
        <a href=""><img src="sample-data/globe-icon4.jpeg" alt="icon" class="navbar-icon"></a>
        
        <h1 style="color: #102F48">StudyAbroad</h1>
        
        @* Nav Bar Right Side Routes *@
        <div class="nav-links">
            <a href="#introduction">Why?</a>
            <a href="#opportunities">Opportunities</a>
            <a href="#colleges">Colleges</a>
            <a href="#studies">Testimonials</a>
            <a href="about-us">About Us</a>
            <a href="contact-us" style="color: #1d6aa8">Contact Us</a>
        </div>

    </nav>
    @Body
</main>
