.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.navbar-icon {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-left: 0;
    padding-left: 0;
}

.nav-links {
    display: flex;
    gap: 2rem; /*Space Between Items on Navbar*/
    font-size: 20px; /* Nav Bar Links txt size */
}

.nav-links a {
    color: #102F48; /* Set text color to black */
    text-decoration: none; /* Remove underline */
}

.nav-links a:hover {
    color: #e30c14;
}

.top-row { /*Nav Bar*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  /* Ensure it spans the full width */
    background-color: white;
    z-index: 1000;
    padding-right: 10px;
    height: 70px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;  /* Ensures proper alignment */
    justify-content: space-between;  /* Spread elements evenly */
    align-items: center;  /* Vertically center items */
}