@page "/about-us"
@inject HttpClient Http
<PageTitle>About Us</PageTitle>
<div class="container" style="min-height: 100vh; display: flex; justify-content: center; align-items: center; width: 100vw;">
    <div class="form-container" style="height: 500px; width: 1000px; padding: 20px; background-color: #d6efff; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <h2 style="text-align: center;">About Us</h2> 
        <p class="aboutPar">
            StudyAbroad is a website that works to provide information about studying in the Unites States, as well as peak curiosity
            in students that may be interested. We highlight benefits of studying in the US, as well as showcase different colleges and programs.
            We also provide student testimonials about their previous experiences studying in the States.
        </p>
        <p class="par2">
            We also provide information about and links to the websites of colleges that are currently being partnered with, helping students
            begin exploring which path they may like to take.
        </p>
        <p class="par3">
            We work directly with a recruiter in a specific area, helping connect prospective students with them. You can get in contact
            with them through our Contact Us page.
        </p>
    </div>
</div>