@page "/about-us"
@inject HttpClient Http
<PageTitle>About Us</PageTitle>
<div class="container" style="min-height: 100vh; display: flex; justify-content: center; align-items: center; width: 100vw;">
    <div class="form-container" style="height: 500px; width: 1000px; padding: 20px; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <h2 style="text-align: center;">About Us</h2> 
        </div>
</div>