@page "/contact-us"
@using PostmarkDotNet
@inject HttpClient Client
@inject ContactUsService contactUsService

<PageTitle>Contact Us</PageTitle>

<div class="container" style="background-color: lightblue; min-height: 100vh; display: flex; justify-content: center; align-items: center; width: 1500px;">

    <div class="form-container" style="width: 500px; padding: 20px; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <h2 style="text-align: center;">Contact Us</h2>

        <div class="form-group" style="padding-left: 10px; width: 450px; padding-top: 30px;">
            First Name: <input type="text" id="firstName" @bind="firstName" class="form-control"/>
        </div>

        <div class="form-group" style="padding-left: 10px; width: 450px;">
            Last Name: <input type="text" id="lastName" @bind="lastName" class="form-control"/>
        </div>

        <div class="form-group" style="padding-left: 10px; width: 450px;">
            Email: <input type="text" id="email" @bind="email" class="form-control"/>
        </div>

        <div class="form-group" style="padding-left: 10px; width: 450px;">
            Message: <input type="text" id="message" @bind="message" class="form-control"/>
        </div>

        <div class="form-group" style="padding-left: 190px;">
            <button class="btn btn-primary mt-2" @onclick="SendEmail">Submit</button>
        </div>
    </div>
</div>



@code {
    private string firstName;
    private string lastName;
    private string email;
    private string message;
    
    private string buttonColor = "primary"; // Default color (Blue)

    
    private async Task SendEmail()
    {
        string htmlContent = $"<h1>You have a new recruit by the name of {firstName} {lastName} who wants to connect</h1>" +
                             $"<p>Email: {email}</p>" +
                             $"<p>Message: {message}</p>";
        
        
        bool success = await contactUsService.SendEmailAsync(
            "smith2842@marshall.edu",
            "smith2842@marshall.edu",
            "New Recruitment",
            "This is plain body",
            htmlContent
        );

        if (success)
        {
            Console.WriteLine("Email Sent");

            // Reset the fields
            firstName = string.Empty;
            lastName = string.Empty;
            email = string.Empty;
            message = string.Empty;
        }
        else
        {
            Console.WriteLine("FAILED");
        }
    }
}