/*
CSS formatting for home.razor
 */

/*
Following is used to format the overall page
 */
.home-page{
    background-color: lightblue;
}

/*
Following is used to format banner image at top of home page
 */
.banner-image {
    width: 100%;
    height: 465px;
    display: block;
    margin: 0;
    padding-top:20px;
}

/*
Following is used to format flex container for intro section
 */
.intro-cont{
    padding-top: 50px;
    display:flex;
    justify-content: center;
}

/*
Following is used to format the small box in the intro section
 */
.intro{
    background-color: #f4f4f9;
    padding: 40px 20px;
    border-radius: 40px;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/*
Following is used to format opportunities section
 */
.opportunities{
    background-color: lightblue;
    display:flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*
Following is used to format banner between Opportunities and colleges sections
 */
.sep-banner{
    background-color: lightgray;
    border-top:solid 5px black;
    border-bottom: solid 5px black;
    height: 100px;
    width:100%;
    display: flex;
    justify-content: center;
}
/*
Following is used to format the content within the banner above
 */
.sep-ban-info{
    font-size: 35px;
    color: black;
}


/*
Following is used to format the colleges section
 */
.colleges-section {
    padding-top: 50px;
    padding-bottom: 50px;
    display:grid;
    gap: 15px;
    grid-template-columns: repeat(3,1fr);
    margin-top: 10px;
    background-color: lightblue;
}

/*
Following formats individual grid items contained within the 'colleges' section
 */
.collegeBox {
    background-color: #f4f4f9;
    padding: 20px 5px;
    border-radius: 40px;
    width: 480px;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0,0,0, 0.1);
}









