@page "/"

<PageTitle>Home</PageTitle>

<h1>Study Abroad!</h1>

Welcome to your new app.

<div class="">
    <div class="box-style" id="benefits" >
        <h1>Benefits</h1>
    </div>
    <div class="box-style" id="about-usa" >
        <h1>About USA</h1>
        <img src="/sample-data/USA.jpeg" alt="USA" width="259px" height="194px">
    </div>
    <div class="box-style" id="studies" >
        <h1>Studies and Opportunities</h1>
    </div>
    <div class="box-style" id="colleges" >
        <h1>Colleges</h1>
    </div>
    <a href="">Top Page</a>
</div>