/*
CSS formatting for home.razor
 */

/*
Following is used to format the overall page
 */

/*
Following is used to format banner image at top of home page
 */
.banner-image {
    width: 100%;
    height: 465px;
    display: block;
    margin: 0;
    padding-top:20px;
}

/*
Following is used to format flex container for intro section
 */
.intro-cont{
    padding-top: 50px;
    display:flex;
    justify-content: center;
    
}

/*
Following is used to format the small box in the intro section
 */
.intro{
    background-color: #f4f4f9;
    padding: 40px 20px;
    border-radius: 40px;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/*
Following is used to format opportunities section
 */
.opportunities{
    background-color: lightblue;
    display:flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}
/*
Following is used to format 'read more' buttons
 */
.moreButton{
    display: block;
    margin: 20px auto;
    padding: 5px 5px;
    font-size: 40px;
    font-family: 'Maku', sans-serif;
    color: #102F48; 
    background-color: #6A8CAF;
    border: 4px solid #5A7A99;
    border-radius: 25px;
    cursor: pointer;
}


/*
Following is used to format banner between Opportunities and colleges sections
 */
.sep-banner{
    background-color: #6A8CAF;
    border-radius: 25px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top:20px;
    
}
/*
Following formats sections containing text in banner
 */
.s1{
    margin-left: 100px;
    margin-right:100px;
    display: flex;
    flex-direction: column;
    
}
/*
Following formats text in banner
 */
.p1{
    font-size: 30px;
}


/*
Following is used to format the colleges section
 */
.colleges-section {
    padding-top: 50px;
    padding-bottom: 50px;
    display:grid;
    gap: 15px;
    grid-template-columns: repeat(3,1fr);
    margin-top: 10px;
    background-color: lightblue;
}

/*
Following formats individual grid items contained within the 'colleges' section
 */
.collegeBox {
    background-color: #f4f4f9;
    padding: 20px 5px;
    border-radius: 40px;
    width: 480px;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0,0,0, 0.1);
}

/*
Following formats buttons used to visit college websites
 */
.visitButton{
    display: block;
    margin: 20px auto;
    padding: 5px 5px;
    font-size: 40px;
    font-family: 'Maku', sans-serif;
    color: #102F48;
    background-color: #6A8CAF;
    border: 4px solid #5A7A99;
    border-radius: 25px;
    cursor: pointer;
}
/*
Formatting for the footer
 */
.footer{
    background-color: #4f7092;
    display:flex;
    text-align: center;
    flex-direction: column;
    height: 200px;
    margin-top:40px;
    
}
.top{
    font-size: 30px;
    color: darkblue;
    margin-top:25px;
}




